/**
 * @file
 * Catman Invoice css.
 */

.catman-invoice-header {
  float: right;
  margin-bottom: 40px;
  width: 50%;
  padding-left: 20px;
}

.group-header:after {
  content: "";
  display: table;
  clear: both;
}

.group-footer {
  padding-top: 50px;
}

.entity-catman-invoice h3 {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2;
  white-space: nowrap;
}

.catman-invoice-number  .prefix,
.catman-invoice-created  .prefix {
  display: inline-block;
  font-weight: normal;
}

/* increase font size for invoice fields */
.catman-invoice-number {
  font-size: large;
}

/* make invoice number bold */
.catman-invoice-number  div:last-of-type {
  font-weight: bold;
}

.indent-payment {
  margin-left: 10px;
}

p.field-billing-phone {
  margin: 0;
}

.field-commerce-customer-shipping,
.field-commerce-customer-billing {
  margin-bottom: 20px;
  margin-left: 20px;
}

.ds-2col-stacked-fluid > .group-header {
  clear: both;
}

.catman-invoice-header {
  padding-left: 20px;
}

.ds-2col-stacked-fluid .group-right {
  padding-left: 40px;
}

